In [2]:
#importing required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [3]:
#Connecting to the webdriver
driver= webdriver.Chrome("E:\chromedriver_win32\chromedriver.exe")

Q1. Write a python program to scrape data for “Data Analyst” Job position in
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
search_job= driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst")

In [5]:
search_loc= driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [6]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [26]:
#creating empty lists to store the data while scraping
job_titles=[]
company_names=[]
locations_list=[]
experiences=[]

In [42]:
#extracting all the tags having job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="4b08490c220fa15480abed4f2a88259c", element="39125231-2ee7-45b2-82cf-4c8a8c0decca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4b08490c220fa15480abed4f2a88259c", element="9218e8be-742f-43b5-9499-aaf85b51b638")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4b08490c220fa15480abed4f2a88259c", element="d36aca75-0680-46ac-8764-37ac87394c52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4b08490c220fa15480abed4f2a88259c", element="3c7023b8-1e1f-4488-868d-ad96761cef06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4b08490c220fa15480abed4f2a88259c", element="5b37e91e-4619-4978-85bf-55fe054a2318")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4b08490c220fa15480abed4f2a88259c", element="006b5fd7-9781-4ae4-afa5-835c418c7c6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4b08490c220fa15480abed4f2a88259c", element="da046f7e-da6e-4493-a7af-57abc7fc92be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4b08490c220fa15480abed4f2a88259c", element="edcb95dc-a63a-4a95-a42d-4337efdd7ac2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4b08490c220fa15480abed4f2a88259c", element="184e3fea-7a40-4539-8fd4-ac5f90ee49f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4b08490c220fa15480abed4f2a88259c", element="c9b200f2-5267-4af2-90a2-307bc06911e4")>]

In [43]:
#Extracting text from the above tags using for loop

for i in titles_tags:
    title=i.text
    job_titles.append(title)

job_titles[0:10]

['Data Engineer/Data Analyst- Chennai',
 'Azure Data Analyst',
 'Data Analyst',
 'Executive - Data Analyst',
 'Data Analyst',
 'Data Analyst - Alteryx, Tableau and SQL',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [44]:
#extracting all the tags having company names
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="4b08490c220fa15480abed4f2a88259c", element="0165ce6d-1aa1-4cb8-8b06-169d59eff239")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4b08490c220fa15480abed4f2a88259c", element="a9163fa2-4494-44bb-bf57-144efa2f5658")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4b08490c220fa15480abed4f2a88259c", element="78c3c7ad-1121-48e5-b9ad-15b91b44e4fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4b08490c220fa15480abed4f2a88259c", element="6090316d-274c-4596-a22c-c52f8ec3676e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4b08490c220fa15480abed4f2a88259c", element="1a4ddf4b-a1a8-440d-b223-246de863ff87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4b08490c220fa15480abed4f2a88259c", element="d41ad2d5-f66c-4fce-b002-e1be6806be85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4b08490c220fa15480abed4f2a88259c", element="89d6715b-990c-4408-94de-cb0d80522d82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4b08490c220fa15480abed4f2a88259c", element="59e3fb8a-012c-4c7d-ac2e-7ec2bf1bb2e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4b08490c220fa15480abed4f2a88259c", element="e37142ee-3b50-4321-a016-7dc468c2dc59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4b08490c220fa15480abed4f2a88259c", element="e8a45527-6acf-4fac-8737-4ad7bc94b983")>]

In [45]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)

company_names[0:10]

['Inflexion Analytix Private Limited',
 'Capgemini Technology Services India Limited',
 'Super India Tech Mark',
 'Flipkart Internet Private Limited',
 'CONDUENT BUSINESS SERVICES INDIA LLP',
 'Schneider Electric',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.']

In [37]:
#extracting all the tags having locations
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="4b08490c220fa15480abed4f2a88259c", element="1b8c30ec-0001-41a7-af41-58aca2aced7f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4b08490c220fa15480abed4f2a88259c", element="5a1b40b5-fdf5-49c2-9b99-35d8251a6212")>]

In [38]:
for i in locations_tags:
    location=i.text
    locations_list.append(location)

locations_list[0:4]

['Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Devalapur)',
 'Bangalore/Bengaluru']

In [39]:
#extracting all the tags having locations
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="4b08490c220fa15480abed4f2a88259c", element="a7b3143a-bc0f-442b-bbd3-f5310d5f5153")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4b08490c220fa15480abed4f2a88259c", element="c9d4042b-0869-44c5-ac4b-0e50c5a2635a")>]

In [40]:
for i in experience_tags:
    experience=i.text
    experiences.append(experience)

experiences[0:4]

['0-2 Yrs', '6-8 Yrs', '0-2 Yrs', '1-3 Yrs']

job_titles=[]
company_names=[]
locations_list=[]
experiences=[]

In [46]:
print(len(job_titles), len(company_names), len(locations_list), len(experiences))

40 40 40 40

In [52]:
jobs=pd.DataFrame({})
jobs['Title']=job_titles[:10]
jobs['Company']=company_names[:10]
jobs['Location']=locations_list[:10]
jobs['Experience']=experiences[:10]

In [53]:
jobs

,Title,Company,Location,Experience
0,Data Engineer/Data Analyst- Chennai,Inflexion Analytix Private Limited,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",0-2 Yrs
1,Azure Data Analyst,Capgemini Technology Services India Limited,Bangalore/Bengaluru,6-8 Yrs
2,Data Analyst,Super India Tech Mark,Bangalore/Bengaluru(Devalapur),0-2 Yrs
3,Executive - Data Analyst,Flipkart Internet Private Limited,Bangalore/Bengaluru,1-3 Yrs
4,Data Analyst,CONDUENT BUSINESS SERVICES INDIA LLP,Bangalore/Bengaluru,1-2 Yrs
5,"Data Analyst - Alteryx, Tableau and SQL",Schneider Electric,Bangalore/Bengaluru,2-5 Yrs
6,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-6 Yrs
7,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,4-8 Yrs
8,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-8 Yrs
9,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,4-8 Yrs